<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/order.css">
</head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <main>
      <h2>My Orders</h2>
      <hr>
      <% if (orders.length > 0) { %>
        <% orders.forEach(order => { %>
          <div class="order">
            <h3>Order - #<%= order._id %></h3>
            <div class="order-items">
              <% order.products.forEach(p => { %>
                <div class="order-details">
                  <div class="order-image">
                    <img src=<%= p.product.imageURL %> alt="">
                  </div>
                  <div class="order-desc">
                    <h3><%= p.product.title %></h3>
                    <p>Qty : <%= p.quantity %></p>
                    <p>Price : Rs.<%= p.product.price %></p>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <h3>Oopss...! No orders available</h3>
      <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>
